{{ pageTitle = fine_seo_title ?? title }}
{{ separator = fine_seo_config.separator ?? ' - ' }}
{{ siteTitle = fine_seo_config.website_title ?? fine_seo_config.title ?? brand.name ?? site.name }}
{{ if fine_seo_is_title_custom == true }}
    {{ pageTitle = fine_seo_title }}
{{ else }}
    {{ pageTitle = pageTitle + ' ' + separator + ' ' + siteTitle }}
{{ /if }}
<title>{{ pageTitle }}</title>
<meta name="description" content="{{ fine_seo_description }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:description" content="{{ fine_seo_description }}">
<meta property="og:image" content="{{ fine_seo_image ? fine_seo_image:permalink : (feature_banner_image? feature_banner_image:permalink : brand.logo:permalink) }}">
<meta property="og:url" content="{{ permalink }}">
<meta property="og:type" content="{{ yield:og_type }}website{{ /yield:og_type }}">
<meta property="og:site_name" content="{{ siteTitle }}">
<meta name="twitter:title" content="{{ pageTitle }}">
<meta name="twitter:description" content="{{ fine_seo_description }}">
<meta name="twitter:image" content="{{ fine_seo_image ? fine_seo_image:permalink : (feature_banner_image? feature_banner_image:permalink : brand.logo:permalink) }}">
<meta name="twitter:card" content="summary_large_image">

{{# Breadcrumbs ld+json #}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {{ nav:breadcrumbs }}
            {
                "@type": "ListItem",
                "position": {{ count }},
                "name": "{{ title }}",
                "item": "{{ permalink }}"
            }{{ if !last }},{{ /if }}
            {{ /nav:breadcrumbs }}
        ]
    }
</script>

{{# Website LD JSON #}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "{{ site:permalink }}",
        "name": "{{ siteTitle }}"
    }
</script>

<script type="application/ld+json">
      {
         "@context": "http://schema.org",
         "@type": "Event",
         "name": "{{siteTitle}}",
         "startDate": "2025-10-21",
         "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
         "eventStatus": "https://schema.org/EventScheduled",
         "location": {
            "@type": "Place",
            "name": "Sir Bani Yas Island in Abu Dhabi",
            "address": {
               "@type": "PostalAddress",
               "streetAddress": "Sir Bani Yas Island",
               "addressLocality": "Abu Dhabi",
               "postalCode": "00971",
               "addressRegion": "Abu Dhabi",
               "addressCountry": "United Arab Emirates"
            }
         },
         "image": [
            "https://csby-staging.adnecdev.ae/assets/cruise-ship-experience/881c94b60f3a007ed04fcec1f68589a88b53e55e.png",
            "https://csby-staging.adnecdev.ae/assets/features/challenge1-(1).png"
         ],
         "description": "Making history as the UAE's first long distance triathlon, set in one of triathlon's most enviable destinations.",
         "endDate": "2025-10-23",
         
         "performer": {
            "@type": "PerformingGroup",
            "name": "{{siteTitle}}"
         },
         "organizer": {
            "@type": "Organization",
            "name": "ADNEC Group",
            "url": "https://adnecgroup.ae/"
         }
      }
   </script>
