{{ pageTitle = fine_seo_title ?? title }}
{{ separator = fine_seo_config.separator ?? ' - ' }}
{{ siteTitle = fine_seo_config.website_title ?? fine_seo_config.title ?? brand.name ?? site.name }}
{{ if fine_seo_is_title_custom == true }}
    {{ pageTitle = fine_seo_title }}
{{ else }}
    {{ pageTitle = pageTitle + ' ' + separator + ' ' + siteTitle }}
{{ /if }}
<title>{{ pageTitle }}</title>
<meta name="description" content="{{ fine_seo_description }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:description" content="{{ fine_seo_description }}">
<meta property="og:image" content="{{ fine_seo_image ? fine_seo_image:url : (feature_banner_image? feature_banner_image:url : brand.logo:url) }}">
<meta property="og:url" content="{{ permalink }}">
<meta property="og:type" content="{{ yield:og_type }}website{{ /yield:og_type }}">
<meta property="og:site_name" content="{{ siteTitle }}">
<meta name="twitter:title" content="{{ pageTitle }}">
<meta name="twitter:description" content="{{ fine_seo_description }}">
<meta name="twitter:image" content="{{ fine_seo_image ? fine_seo_image:url : (feature_banner_image? feature_banner_image:url : brand.logo:url) }}">
<meta name="twitter:card" content="summary_large_image">

{{# Breadcrumbs ld+json #}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {{ nav:breadcrumbs }}
            {
                "@type": "ListItem",
                "position": {{ count }},
                "name": "{{ title }}",
                "item": "{{ permalink }}"
            }{{ if !last }},{{ /if }}
            {{ /nav:breadcrumbs }}
        ]
    }
</script>

{{# Website LD JSON #}}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "{{ site:permalink }}",
        "name": "{{ siteTitle }}"
    }
</script>

<script type="application/ld+json">
      {
         "@context": "http://schema.org",
         "@type": "Event",
         "name": "Abu Dhabi International Hunting and Equestrian Exhibition",
         "startDate": "2025-08-30",
         "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
         "eventStatus": "https://schema.org/EventScheduled",
         "location": {
            "@type": "Place",
            "name": "ADNEC Centre Abu Dhabi",
            "address": {
               "@type": "PostalAddress",
               "streetAddress": "Al Khaleej Al Arabi",
               "addressLocality": "Abu Dhabi",
               "postalCode": "00971",
               "addressRegion": "Abu Dhabi",
               "addressCountry": "United Arab Emirates"
            }
         },
         "image": [
            "https://ce-adihex.s3.me-central-1.amazonaws.com/website-assets/uploads/2024/04/1F4A2364-scaled.jpg",
            "https://ce-adihex.s3.me-central-1.amazonaws.com/website-assets/uploads/2024/04/1F4A1128-scaled.jpg"
         ],
         "description": "The largest exhibition for hunting, equestrian & heritage preservation in the Middle East and Africa region.
Organized by the Emirates Falconers’ Club, this highly participated and visited event attracts local and global attendees who are decision makers with high purchasing power and has continued to prioritize the value of environmental, cultural, heritage, authentic sports and sustainable hunting. Concurrently, ADIHEX offers a unique opportunity for regional and international companies and brands to participate, visit, meet potential partners and clients face to face, with the aim of building a strong bilateral business relationship.",
         "endDate": "2025-09-07",
         
         "performer": {
            "@type": "PerformingGroup",
            "name": "Abu Dhabi International Hunting and Equestrian Exhibition"
         },
         "organizer": {
            "@type": "Organization",
            "name": "Capital Events",
            "url": "https://capitalevents.ae/"
         }
      }
   </script>