{{#
    @name Error: Redirects
    @desc Handles the 404 page redirects
#}}

{{# Redirect if current_url is in the Redirects global. #}}
{{ redirects:redirects | whereIn('url_old', [{current_uri | urldecode}, { {current_uri | urldecode} + '/'}]) }}
    {{?
        $queryArr = request()->query();
        $urlExtras = '';
        if (count($queryArr) > 0) {
            $urlExtras = '?' . http_build_query($queryArr);
        }
    ?}}
    {{ if internal_url }}
        {{ %redirect to="{{internal_url:url}}{{urlExtras}}" response="{response}" }}
    {{ elseif external_url }}
        {{ %redirect to="{{external_url}}{{urlExtras}}" response="{response}" }}
    {{ /if }}
{{ /redirects:redirects }}
