{{# Page Builder Content #}}
{{ page_builder }}
    {{ if type === 'reusable_block' }}
        {{ entry }}
            {{ partial:if_exists src="sets/{blueprint}" }}
        {{ /entry }}
    {{ elseif type === 'text' }}
        <div class="container mx-auto px-4 md:px-6 relative z-10 my-4">
            <div class="prose-sm  md:prose xl:prose-lg adnec-container">
                {{ text }}
            </div>
        </div>
    {{ elseif type === 'html_block' }}
        {{ code }}
    {{ elseif type === 'embed' }}
        {{ partial :src="embed_template" /}}
    {{ elseif type=='activities' }}
        {{ partial:if_exists src="sets/activities_text" }}
    {{ else }}
        {{ partial:if_exists src="sets/{type}" }}
    {{ /if }}
{{ /page_builder }}