<!doctype html>
<html lang="{{ site:short_locale }}" dir="{{ site:direction }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial:favicon /}}
        {{ partial:fonts /}}
        {{ partial:fine-seo::components/meta /}}
        <link rel="stylesheet" href="https://use.typekit.net/slb6fmc.css">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="leading-normal text-gray-800 antialiased {{ site:short_locale === 'ar' ? 'font-noto' : 'font-mont' }}">
        <!-- Header (includes patronage banner) -->
        {{ partial:partials/header }}
        
        <!-- Main Content -->
        <main class="relative">
            {{ template_content }}
        </main>
        
        <!-- Footer -->
        {{ partial:partials/footer }}
    </body>
</html>
