<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-lg font-semibold text-primary-600">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        {{'Page not found' | trans}}
      </h1>
      <p class="mt-6 text-base leading-7 text-gray-600">
        {{'Sorry, we couldn’t find the page you’re looking for.' | trans}}
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        {{partial:buttons/button
          text="{{'Go back home' | trans}}"
          url="{{site:url}}"
          type="filled"
          color="primary"
        /}}
      </div>
    </div>
  </main>
