<header class="sticky top-0 left-0 flex flex-col w-full z-40 h-34"
    {{# x-init="window.addEventListener('scroll', () => { scrolled = window.scrollY > 10 })" #}}
>
<!-- Patronage Banner -->
{{ partial:patronage }}
<!-- Navigation -->
<nav class="w-full flex-grow transition-all duration-300 ease-in-out"
    x-data="{ scrolled: true }"
    x-cloak
    :class="scrolled ? 'bg-white shadow-lg' : 'bg-transparent'"
>
    <div
        class="adnec-container h-full py-4 mx-auto md:flex md:items-center md:justify-between grid grid-cols-[65%_30%]">
        <!-- Logo and Event Info -->
        <div class="flex items-center">
            <a href="{{ site:url }}" class="flex-shrink-0">
                <img :src="scrolled ? '{{ brand:logo }}' : '{{ brand:logo_dark }}'"
                    alt="International Hunting & Equestrian Exhibition - Al Ain"
                    class="h-12 md:h-16 transition-all duration-300" />
            </a>
            {{ partial:partials/header/event_info_vertical }}
        </div>

        <!-- Mobile Menu Button -->
        <div class="flex justify-end gap-4 items-center">
            {{ partial:partials/sets/countdown_date_picker countdown_end="{brand:countdown_date_picker format='Y-m-d\TH:i:s'}" }}
            <div class="hidden md:block">
                {{ partial:shared/button url="{{link id="b860fdc4-c1e8-4cf8-ab46-9978b43e1fb7"}}" style="filled" color="primary" size="medium" icon="ticket" new_tab="true" }}
                    {{ 'Buy Your Ticket' | trans }}
                {{ /partial:shared/button }}
            </div>

            {{ partial:language-switcher /}}
            
            <button command="show-modal" commandfor="drawer" class=" focus:outline-none"
                :class="scrolled ? 'text-gray-800' : 'text-white'" aria-label="Toggle mobile menu">
                {{heroicon variant="outline" icon="bars-3" class="w-6 lg:w-10 h-7 lg:h-8" /}}
            </button>
        </div>
    </div>

    {{ partial:partials/header/menu_drawer }}
    
    {{# {{ partial:partials/header/event_info_strip }} #}}
</nav>
</header>