<section
    class="py-20 lg:py-30 {{ if feature_banner_image }}bg-gradient{{ else }}bg-gradient{{ /if }} bg-gradient relative overflow-hidden border-b border-gray-200" style="background: var(--color-gradient);">
    {{# Background Image with overlay #}}

        {{# Subtle background elements with soft gradient (fallback) #}}
       
       
       
        {{# <div class="absolute inset-0 z-0">
            <div class="absolute inset-0 bg-gradient-to-b from-white/70 via-[#f2f9fc] to-[#f2f9fc]/70"></div>
        </div> #}}
   
    <div class="adnec-container flex flex-col items-center justify-center relative z-10">
        {{# Page Title with elegant animation - left aligned #}}
        <div class="max-w-3xl mb-8" x-data="{}" x-intersect="$el.classList.add('animate-fade-in')">
            {{ if title }}
                <h1
                    class="ltr:text-3xl ltr:leading-tight rtl:leading-snug rtl:text-3xl ltr:md:text-4xl rtl:md:text-4xl font-bold text-white mb-4 drop-shadow-lg">
                    {{ title  }}
                </h1>
            {{ /if }}
            {{ if subtitle }}
                <p
                    class="{{ if feature_banner_image }}text-white/90{{ else }}text-gray-600{{ /if }} text-lg max-w-2xl drop-shadow-md">
                    {{ subtitle }}
                </p>
            {{ /if }}
        </div>
        

        <!-- Beautiful breadcrumb design with subtle accent - more compact -->
        {{ partial:breadcrumbs }}
    </div>
</section>
{{popup}}
{{partial:partials/sets/popup_image}}
{{/popup}}


