<input type="{{ input_type ?? type }}" name="{{ handle }}" value="{{ old }}"

    {{if input_type === 'date'}} min="{{?echo date('Y-m-d')?}}" {{/if}} autocomplete="{{ handle }}"
    placeholder="{{ placeholder | trans }}"
    {{if has_alpine}} x-model="form.{{ handle }}" :disabled="form.processing"
    :class="{'animate-pulse': checkingCaptcha, 'border-red-500/50 focus:border-red-500/80': form.errors.{{handle}}, 'border-white/20 focus:border-bludiaac-500/70':!form.errors.{{handle}} }" {{/if}}
    {{if !has_alpine}} {{ if js_driver }}{{ js_attributes }}{{ /if }}  {{/if}}
    {{ if validate|contains:required }}required{{ /if }}
    class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:bg-white/5 dark:ring-white/10 dark:text-white placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 dark:focus-visible:ring-black sm:text-sm sm:leading-6 {{if input_type === 'tel'}}rtl:text-right{{/if}}"
    style="{{if input_type === 'tel'}} direction:ltr; {{/if}}">
