<!-- 
Elegant button component with the following parameters:
- type: filled (default), outline
- color: primary (default), secondary, light, dark
- backdrop_blur: false (default), true
- size: medium (default), large, small
- icon: null (default), arrow-right, envelope
-->

<{{ html_tag ?? 'a' }} href="{{ url }}" {{ if target }}
        target="{{ target }}"
    {{ /if }} {{ slot:attributes }}
    class="group
        inline-flex items-center justify-center font-medium transition-all duration-300
        {{ backdrop_blur ?= 'backdrop-filter backdrop-blur-sm' }}
        {{ if type == 'outline' }}
            border-1 bg-transparent
            {{ if color == 'secondary' }}
                border-[#9a8c63]/20 text-[#9a8c63] hover:bg-[#9a8c63]/20
            {{ elseif color == 'light' }}
                border-white/20 text-white hover:bg-white/20
            {{ elseif color == 'dark' }}
                border-gray-800/20 text-gray-800 hover:bg-gray-800/20
            {{ else }}
                border-[#827654]/20 text-[#827654] hover:bg-[#827654]/20
            {{ /if }}
        {{ else }}
            {{ if color == 'secondary' }}
                bg-[#9a8c63] text-white border-1 border-[#9a8c63] hover:bg-[#a8996c] hover:border-[#a8996c]
            {{ elseif color == 'light' }}
                bg-white text-gray-800 border-1 border-white hover:bg-gray-100 hover:border-gray-100
            {{ elseif color == 'dark' }}
                bg-gray-800 text-white border-1 border-gray-800 hover:bg-gray-700 hover:border-gray-700
            {{ else }}
                bg-[#827654] text-white border-1 border-[#827654] hover:bg-[#9a8c63] hover:border-[#9a8c63]
            {{ /if }}
        {{ /if }}
        {{ if size == 'large' }}
            text-base py-4 px-8 rounded-md shadow-md hover:shadow-lg
        {{ elseif size == 'small' }}
            text-sm py-2 px-4 rounded
        {{ else }}
            text-base py-3 px-6 rounded-md
        {{ /if }}
        hover:transform focus:outline-none focus:ring-2 focus:ring-offset-2
        {{ if color == 'secondary' }}
            focus:ring-[#9a8c63]/50
        {{ elseif color == 'light' }}
            focus:ring-white/50
        {{ elseif color == 'dark' }}
            focus:ring-gray-800/50
        {{ else }}
            focus:ring-[#827654]/50
        {{ /if }}
    ">
    {{ if slot }}
        {{ slot }}
    {{ else }}
        <span>{{ slot ?? label ?? text }}</span>
    {{ /if }}
    {{ if icon }}
        {{ heroicon variant="outline" :icon="icon" class="h-5 w-5 rtl:mr-2 ltr:ml-2 transition-transform duration-300 group-hover:translate-x-1 {{(icon | contains('paper-airplane')) ?= 'rtl:rotate-180'}} {{ iconClass }}" }}
    {{ /if }}
</{{ html_tag ?? 'a' }}>