{{?

$btnColors = [
    'black' => 'bg-gray-900 text-white hover:bg-gray-800 focus:ring-gray-900',
    'white' => 'bg-white text-gray-900 hover:bg-gray-100 focus:ring-white',
    'primary' => 'bg-primary-600 text-white hover:bg-primary-500 focus:ring-primary-600',
    'secondary' => 'bg-gray-600 text-white hover:bg-gray-500 focus:ring-gray-600',
];

?}}

{{
    $size = size ?? button_options:size ?? 'medium';
    $color = color ?? button_options:color ?? 'primary';
    $button_type = button_type ?? 'a';
    $icon = icon ?? button_options:icon ?? null;
    $icon_position = icon_position ?? button_options:icon_position ?? 'end';
    $new_tab = new_tab ?? button_options:new_tab ?? false;
}}

{{ $final_classes = base_classes + " border-2 border-transparent  " + btnSizes[$size]['padding'] + " " + btnSizes[$size]['font'] + " " + btnColors[$color] }}

<{{ button_type }} {{if button_type == 'a'}}href="{{ url }}" target="{{ new_tab ? '_blank' : '_self' }}"{{/if}} 
    title="{{ {slot | strip_tags | trim} ?? {text | strip_tags | trim} }}"
    class="{{final_classes}} {{ icon_position == 'start' ? 'flex-row-reverse' : ''}}"
    {{ slot:attributes }}>
    <span class="text-nowrap">{{ slot ?? text }}</span>
    {{ if icon }}
        {{heroicon variant="outline" :icon="icon" class="{{ btnSizes[size]['icon'] }} {{(icon | contains('paper-airplane')) ?= 'rtl:rotate-180'}}" }}
    {{ /if }}
</{{ button_type ?? 'a' }}>