{{?

$colors = [
    'black' => 'bg-transparent text-gray-900 hover:bg-gray-900/5 focus:ring-gray-900',
    'white' => 'bg-transparent text-white hover:bg-white/5 focus:ring-white',
    'primary' => 'bg-transparent text-primary-600 hover:bg-primary-600/5 focus:ring-primary-600',
    'secondary' => 'bg-transparent text-gray-600 hover:bg-gray-600/5 focus:ring-gray-600',
];

?}}

{{
    $size = size ?? button_options:size ?? 'medium';
    $color = color ?? button_options:color ?? 'primary';
    $button_type = button_type ?? 'a';
    $icon = icon ?? button_options:icon ?? null;
    $icon_position = icon_position ?? button_options:icon_position ?? 'end';
    $new_tab = new_tab ?? button_options:new_tab ?? false;
}}
{{? $final_classes = trim("{$base_classes} {$sizes[$size]['padding']} {$sizes[$size]['font']} {$colors[$color]}"); ?}}

<{{ button_type }} href="{{ url }}" 
    target="{{ new_tab ? '_blank' : '_self' }}"
    class="{{final_classes}} {{ icon_position == 'start' ? 'flex-row-reverse' : ''}}"
    {{ slot:attributes }}>
    <span class="text-nowrap">{{ slot ?? text }}</span>
    {{ if icon }}
        {{heroicon variant="outline" :icon="icon" class="{{ sizes[size]['icon'] }} {{(icon | contains('paper-airplane')) ?= 'rtl:rotate-180'}}" }}
    {{ /if }}
</{{ button_type ?? 'a' }}>