
@theme {


      --color-primary:#211551;
  --color-secondary:#F2F9FC;
  --color-accent:#E08247;
    --color-primary-50: #f5f5f1;
    --color-primary-100: #e7e7da;
    --color-primary-200: #d1d0b7;
    --color-primary-300: #b6b28e;
    --color-primary-400: #a19a6e;
    --color-primary-500: #928960;
    --color-primary-600: #827654;
    --color-primary-700: #655943;
    --color-primary-800: #574c3c;
    --color-primary-900: #4c4237;
    --color-primary-950: #2b241d;

    --color-cape-palliser-50: #f9f5f1;
    --color-cape-palliser-100: #ede5d8;
    --color-cape-palliser-200: #d9c8ae;
    --color-cape-palliser-300: #c6a883;
    --color-cape-palliser-400: #b99166;
    --color-cape-palliser-500: #ad7853;
    --color-cape-palliser-600: #a0674b;
    --color-cape-palliser-700: #7f4d3e;
    --color-cape-palliser-800: #694037;
    --color-cape-palliser-900: #58362f;
    --color-cape-palliser-950: #311b17;

    --color-secondary-50: #f3f6f8;
    --color-secondary-100: #e1e9ec;
    --color-secondary-200: #c7d4da;
    --color-secondary-300: #a0b6c0;
    --color-secondary-400: #728f9e;
    --color-secondary-500: #5b7a8a;
    --color-secondary-600: #4b616f;
    --color-secondary-700: #41525d;
    --color-secondary-800: #3b464f;
    --color-secondary-900: #343d45;
    --color-secondary-950: #1f262d;


}

.bg-primary-600 {
    @apply bg-primary-600;
}

.bg-secondary-500 {
    @apply bg-secondary-500;
}

.bg-secondary-600 {
    @apply bg-secondary-600;
}

.text-primary-600 {
    @apply text-primary-600;
}

.text-secondary-500 {
    @apply text-secondary-500;
}

.text-secondary-600 {
    @apply text-secondary-600;
}

.bg-primary-50 {
    @apply bg-primary-50;
}

.bg-secondary-50 {
    @apply bg-secondary-50;
}


 .bard-fieldtype-wrapper .bard-editor .tiptap.ProseMirror.bard-content {
  min-height: fit-content;        
  overflow: auto;           
  resize: vertical;     
  overflow: scroll;    
}