@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

x-cloak {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Offset for sticky header */
}
@theme {
  --font-mont: "montserrat", sans-serif;
  --font-noto: "noto-sans-arabic", sans-serif;
}

.animate-fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  @apply text-amber-100;
}



.slicking-slider .slick-list{
  margin:0 10px;
  overflow:hidden;
}

.slider-feedback .slick-list{
  height:100%;
overflow: hidden;
margin: 0 40px;
}
.slider-feedback .slick-track{
  height:100%;
}



@media only screen and (max-width: 767px) {


 .slider-feedback .slick-list{
   height:100%;
   overflow: hidden;
   margin: 0 0px;
  }

}




