    <div style="{{ if background == 'bgimg' }}background-size:cover; background-image: url('{{ image.url }}');{{ else }}background-color:var(--color-{{ background_color }}){{ /if }}"
        class="w-full  bg-cover bg-center ">
        <div class="adnec-container py-10">

       {{ if grid_heading}}
            <div class="custom pb-10 text-center">{{grid_heading    | replace('<p></p>', '<br>')
    | replace('<p>&nbsp;</p>', '<br>')
    | replace('<p><br></p>', '<br>')
    | raw}}</div>
            {{/if}}

            <div class="grid gap-5 
     {{if grid_version =='v1'}}
        xl:grid-cols-4
        lg:grid-cols-3 
        md:grid-cols-2  
        grid-cols-1
        {{elseif grid_version =='v2' }}
        lg:grid-cols-3 
        md:grid-cols-2  
        grid-cols-1
        {{else}}
        md:grid-cols-2  
        grid-cols-1
        {{/if}}
        ">

                {{ grid_set_replicator }}
                    {{ partial:partials/sets/images_grid_and_buttons_sport }}
                {{ /grid_set_replicator }}
            </div>
        </div>
    </div>