<section class=" adnec-container py-24 relative z-10 overflow-hidden">
   
 
    <div class="theme-container relative">
 
            {{ partial:partials/sets/heading_group_component }}

        <div class="max-w-4xl mx-auto">
            <div x-data="{ show: false }" x-intersect:enter="show = true"
                :class="show ? 'translate-y-0 opacity-100' : 'translate-y-12 opacity-0'"
                class="bg-gray-200/5 backdrop-blur-md rounded-xl border border-gray-300/10 shadow-lg transition-all duration-1000 ease-out-cubic">
                {{ partial:shared.form.form_alpine }}
            </div>
        </div>
    </div>

    <style>
        .ease-out-cubic {
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
    </style>
</section>