  
<div style="{{ if background == 'bgimg' }}background-image: url('{{ image.url }}');{{ else }}background-color: var(--color-{{ background_color }});{{ /if }}"
    class="w-full py-10 bg-cover bg-center "
>
    <div class="adnec-container mx-auto relative">
        {{ partial:partials/sets/heading_group_component }}
        <div class="   gap-x-2 gap-y-10  md:gap-y-14 sm:gap-x-5 flex-wrap justify-center grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 ">
            {{ feature_entries }}
                {{ features_replicator }}
             
                  <div class="flex flex-col gap-5">

                        {{ image }}
                            <img loading="lazy" src="{{ url }}" class="">
                        {{ /image }}
                        <p class="text-sm  md:text-base font-semibold text-[#08273d]">{{ title }}</p>
                    </div>
                
            
                {{ /features_replicator }}
            {{ /feature_entries }}

        </div>
    </div>
    </div>