<section id="sectors" class="py-[45px] md:py-[50px] lg:py-[70px]   bg-gray-50 relative overflow-hidden">
    <!-- container mx-auto px-4 md:px-6   -->
    <div class="adnec-container z-10">
        <!-- Section Header -->
        <div class="max-w-3xl mx-auto text-center mb-16"
            x-data="{}" 
            x-intersect="$el.classList.add('animate-fade-in')">
            {{ partial:partials/sets/heading_group }}
        </div>
        
        <!-- Sectors Grid -->
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 
            {{ sectors }}
                {{ if link }}
                <a href="{{ link }}" class="block group" title="{{ title }}">
                {{ /if }}
                <div class="bg-white rounded-lg shadow-lg hover:shadow-xl hover:translate-y-1 
                overflow-hidden h-full perspective transform-gpu transition-all duration-500 {{ if link }}cursor-pointer{{ /if }}"
                    x-data="{ show: false }" 
                    x-intersect="show = true"
                    :class="show ? 'translate-y-0 opacity-100' : 'translate-y-12 opacity-0'">
                    <div class="relative h-60 overflow-hidden">
                        {{if image}}
                        {{ glide:image preset="small" }}
                        <img 
                            src="{{url}}" 
                            alt="{{ alt ?? title + ' Image' }}" 
                            width="{{width}}"
                            height="{{height}}"
                            loading="lazy"
                            class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-110"
                        />
                        <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
                        {{ /glide:image }}
                        {{ else }}
                        <div class="absolute inset-0 bg-[#827654]"></div>
                        {{ /if }}
                        <h3 class="absolute bottom-4 rtl:right-4 ltr:left-4 text-xl font-bold text-white">{{ title }}</h3>
                    </div>
                    {{if show_fact_description}}
                    <div class="p-6 group-hover:bg-gray-50 transition-colors duration-300">
                        <p class="text-gray-700">
                            {{ description }}
                        </p>
                    </div>
                    {{ /if }}
                </div>
                {{ if link }}
                </a>
                {{ /if }}
            {{ /sectors }}
        </div>
    </div>
</section>