
<section class="adnec-container mx-auto py-[45px] md:py-[50px] lg:py-[70px]   relative ">



      <div class="mx-auto flex flex-wrap justify-center gap-[1.5vw] mb-12">

{{replicator_media_partners}}


<a href="{{link}}" class=" w-[100%] sm:w-[49%] md:w-[32%]">

    <div class="bg-white rounded-xl border-4 border-blue shadow-lg p-6 flex flex-col items-center transition hover:scale-105 w-full  ">
    {{logo}}
    <img src="{{url}}" class="h-[150px] object-contain mb-3  hover:grayscale-0 transition" alt="">
      {{/logo}}


        <p class="text-lg font-medium text-primary text-center">    {{title}}
        </p>
        </div>

</a>
 
{{/replicator_media_partners}}

</div>

</section>