{{# style_config:variant options: 'cover', 'no_image', 'left_image', 'right_image' #}}
<section id="{{ slug }}" class=" relative overflow-hidden ] 
    
    {{if spaces=="p"}}
        py-10
      {{elseif  spaces=="pt" }}
        pt-10
      {{elseif  spaces=="pb" }}
        pb-10
      {{/if}}
    "
    style="{{ if background == 'bgimg' }}background-size:cover; background-image: url('{{ image.url }}');{{ else }}background: var(--color-{{ background_color }});{{ /if }}">
    <div class="adnec-container z-10">
        <div class="
            gap-10
             items-center 
            {{if text_image_alignment == "v1"}}
            lg:flex-row  flex flex-col
            {{elseif text_image_alignment == "v2"}}
            lg:flex-row-reverse flex flex-col
            {{else}}X
            lg:flex-row  flex-col flex
            {{/if}}
            ">
            <div class="w-full self-center  {{ $isCompact ? 'lg:w-2/5' : 'lg:w-1/2' }}" x-data="{}"
                x-intersect="$el.classList.add('{{ $variant == 'right_image' ? 'ltr:animate-fade-slide-left' : 'ltr:animate-fade-slide-right' }}', '{{ $variant == 'right_image' ? 'rtl:animate-fade-slide-right' : 'rtl:animate-fade-slide-left' }}')">
                <div class="relative">
                    {{ if section_image }}
                        {{ glide:section_image preset="{{ $isCompact ? 'medium' : 'large' }}" }}
                            <img loading="lazy" src="{{ url }}" alt="{{ alt ?? title }}" width="{{ width }}"
                                height="{{ height }}" style="object-position: {{ focus_css ?? 'center' }};"
                                class="w-full   object-cover  rounded-md shadow-lg  md:h-[500px] h-[400px] }}" />
                        {{ /glide:section_image }}
                    {{ /if }}
                    {{ if badge_text }}
                        <div
                            class="absolute {{ $isCompact ? '-bottom-3 ltr:-right-3 rtl:-left-3 w-16 h-16' : '-bottom-6 ltr:-right-6 rtl:-left-6 w-24 h-24' }} bg-brand-sky-blue rounded-lg flex items-center justify-center text-white">
                            <div class="text-center">
                                <span
                                    class="block {{ $isCompact ? 'text-lg' : 'text-2xl' }} font-bold">{{ badge_text }}</span>
                                {{ if badge_subtext }}
                                    <span
                                        class="{{ $isCompact ? 'text-xs' : 'text-xs' }} uppercase">{{ badge_subtext }}</span>
                                {{ /if }}
                            </div>
                        </div>
                    {{ /if }}
                </div>
            </div>
            <div class="w-full py-10 flex flex-col lg:gap-6 md:gap-4 gap-2 {{ $isCompact ? 'lg:w-3/5' : 'lg:w-1/2' }}"
                x-data="{}"
                x-intersect="$el.classList.add('{{ $variant == 'right_image' ? 'ltr:animate-fade-slide-right' : 'ltr:animate-fade-slide-left' }}', '{{ $variant == 'right_image' ? 'rtl:animate-fade-slide-left' : 'rtl:animate-fade-slide-right' }}')">
                {{ if section_label }}
                    <div class="flex items-center gap-5 {{ $isCompact ? 'mb-2' : 'mb-4' }}">
                        {{#
                             <div class="w-12 h-1
                                               {{ if  background_color == 'primary'}}
                                                bg-white
                                                {{else}}
                                                bg-primary
                                                {{/if}}
                                                "></div>
                        #}}
                        <span
                            class="  text-brand-sky-blue font-medium uppercase ltr:tracking-wider ">{{ section_label }}</span>
                    </div>
                {{ /if }}
                <div class="custom mb-2"> {{ heading_text }}</div>

                <div
                    class="text-gray-700  custom  prose prose-sm  ">
                    {{ description }}
                </div>
                {{ if buttons }}
                    <div class="flex flex-col sm:flex-row {{ $isCompact ? 'gap-2' : 'gap-4' }}">
                        {{ buttons }}
                            {{ partial:partials/sets/fancy_button }}
                        {{ /buttons }}
                {{ /if }}
            </div>
        </div>
    </div>

</section>