<a href="{{button}}" class="flex flex-row px-5 py-3 rounded-[5px] outline outline-offset-[-1px] outline-stone-300 justify-between items-center gap-2.5 hover:outline-stone-400"
    style="background-color:{{ background_color }};">
    <div class=" justify-start flex flex-row gap-2 ">
        {{ heroicon variant="outline" icon="{{before_icon}}" class="h-6 w-6 text-[#000000]" }}
        <span class="underline underline-offset-4" style=" color:{{ text_color }};">
            {{ text }}
        </span>
    </div>

    {{ heroicon variant="outline" icon="{{after_icon}}" class="h-6 w-6 text-[#000000]" }}

</a>
