{{# <div class="bg-[#f5f2eb]"> #}}
<section class="adnec-container mx-auto relative flex flex-row justify-center">
  {{ collection:sponsors }}
 
         <div
          class=" items-center w-[calc(50%-0.75rem)] sm:w-[calc(33.333%-1rem)] md:w-[calc(25%-1.125rem)] lg:w-[calc(20%-1.2rem)]">
          <a href="{{ sponsor_link }}" class="flex flex-col gap-5">
             <p class="text-base font-semibold text-[#08273d] text-center">{{ title }}</p>
            {{ sponsors_logos }}
              <img loading="lazy" src="{{ url }}" width="{{ width }}" height="{{ height }}" alt="{{ alt ?? title }}"
                class="h-30 mb-2 object-contain mx-auto">
            {{ /sponsors_logos }}
           
          </a>
        </div>
       
   
  {{ /collection:sponsors }}
</section>
{{# </div> #}}
</div>