{{#
    Product Detail Page Template
    This template displays individual product details
#}}

{{ collection:products slug:is="{slug}" limit="1" }}

<div class="container mx-auto px-4 py-8">
    <div class="max-w-5xl ">
    
        
         <div class="mb-6">
            <img src="{{ image:url }}" alt="{{ title }}" class="w-auto h-[200px] md:h-[350px] rounded-lg ">
        </div>
         
     <h1 class="text-4xl font-bold mb-4 customcolors">{{ title }}</h1>
        
        {{ if description }}
        <div class="mb-6">
            <div class="custom prose-lg [&_h3]:mt-0  ">{{ description }}</div>
        </div>
        {{ /if }}
        
     </div>
</div>

{{/collection:products}}